<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ModelInfo</key>
	<array>
		<dict>
			<key>describe</key>
			<string>艺术家、作家吴幼明认为当前猴票操作之所以如此之热，主要是因为目前的股市、房市正处于下跌行情中，对于游资来说目前正是青黄不接的时候，他们需要题材来进行炒作，而目前猴票这个题材正是合适的操作对象。</string>
			<key>videoURL</key>
			<string>http://7xqhmn.media1.z0.glb.clouddn.com/femorning-20161106.mp4</string>
			<key>imageURL</key>
			<string>http://pic6.huitu.com/res/20130116/84481_20130116142820494200_1.jpg</string>
			<key>title</key>
			<string>NO.1</string>
		</dict>
		<dict>
			<key>describe</key>
			<string>一位集邮人士认为，邮票的收藏主要看个人爱好，也就是说，“你认为它有价值就行。”另外邮票的价格也和发行量有关系，就拿生肖票讲，猴票第一版是1980年发行的，是中国生肖票发行以来第一版生肖票，所以它的收藏价值很高</string>
			<key>videoURL</key>
			<string>http://wvideo.spriteapp.cn/video/2016/0328/56f8ec01d9bfe_wpd.mp4</string>
			<key>imageURL</key>
			<string>http://img05.tooopen.com/images/20150531/tooopen_sy_127457023651.jpg</string>
			<key>title</key>
			<string>NO.2</string>
		</dict>
        <dict>
            <key>describe</key>
            <string>在生肖票里也不是所有的生肖邮票都值钱，就拿龙年邮票，当时发行价是8分钱，现在市场上的价格也就是几块钱。对于邮票的内在价值而言，主要的决定因素是发行量，生肖票每年的发行就那么多，在收藏者的眼里</string>
            <key>videoURL</key>
            <string>http://baobab.wdjcdn.com/1456117847747a_x264.mp4</string>
            <key>imageURL</key>
            <string>http://hbsnj.keliren.cn/tuku/a/20161104/581c05cd9c98b.jpg</string>
            <key>title</key>
            <string>NO.3</string>
        </dict>
        <dict>
            <key>describe</key>
            <string>邮票本身并没有内在价值，其最合适的价格应该在100元左右，如果超过这个价格那就是泡沫。不建议投资者入场，现在已经是击鼓传花，投资者进入很可能接到的是最后一棒，目前市场已经出现了一个比傻的局面。</string>
            <key>videoURL</key>
            <string>http://baobab.wdjcdn.com/14525705791193.mp4</string>
            <key>imageURL</key>
            <string>http://b.hiphotos.baidu.com/zhidao/pic/item/e4dde71190ef76c6367c38519916fdfaaf51671a.jpg</string>
            <key>title</key>
            <string>NO.4</string>
        </dict>
        <dict>
            <key>describe</key>
            <string>这就是价值所在，如果碰巧能收藏到错版的生肖票，那可真是捡了一个“大漏”，因为错版会在市场上形成“第一无二”的收藏价值</string>
            <key>videoURL</key>
            <string>http://baobab.wdjcdn.com/1455968234865481297704.mp4</string>
            <key>imageURL</key>
            <string>http://pic6.huitu.com/res/20130116/84481_20130116142820494200_1.jpg</string>
            <key>title</key>
            <string>NO.5</string>
        </dict>
        <dict>
            <key>describe</key>
            <string>不过随着科技的发展，仿造邮票的技术也在提升，市场上也充斥着非常多的假，不过对于收藏者而言，如何提高自己辨别真伪的能力，对于收藏者来讲也成为一种乐趣。</string>
            <key>videoURL</key>
            <string>http://baobab.wdjcdn.com/1455782903700jy.mp4</string>
            <key>imageURL</key>
            <string>http://img1.juimg.com/141119/330781-14111913110399.jpg</string>
            <key>title</key>
            <string>NO.6</string>
        </dict>
        <dict>
            <key>describe</key>
            <string>邮票本身并没有内在价值，其最合适的价格应该在100元左右，如果超过这个价格那就是泡沫。不建议投资者入场，现在已经是击鼓传花，投资者进入很可能接到的是最后一棒，目前市场已经出现了一个比傻的局面。</string>
            <key>videoURL</key>
            <string>http://baobab.wdjcdn.com/1456480115661mtl.mp4</string>
            <key>imageURL</key>
            <string>http://pic.58pic.com/58pic/16/07/40/16p58PIC3eU_1024.jpg</string>
            <key>title</key>
            <string>NO.7</string>
        </dict>
        <dict>
            <key>describe</key>
            <string>邮币卡号称是收藏品，但电子盘的交易者买入后根本不会提货出来观赏把玩，而是等高价后卖出。这在本质上是自欺欺人，自我催眠是在从事收藏交易。</string>
            <key>videoURL</key>
            <string>http://baobab.wdjcdn.com/1456665467509qingshu.mp4</string>
            <key>imageURL</key>
            <string>http://attach.bbs.miui.com/forum/201311/24/215912gth1ppjklnxttgxt.jpg</string>
            <key>title</key>
            <string>NO.8</string>
        </dict>
        <dict>
            <key>describe</key>
            <string>邮币卡对发行企业来说是产品，销售出去就是利润。而股票对企业来说是组成部分，卖出去对原企业老板相当于割去一块肉。</string>
            <key>videoURL</key>
            <string>http://baobab.wdjcdn.com/1456734464766B(13).mp4</string>
            <key>imageURL</key>
            <string>http://www.1tong.com/uploads/wallpaper/landscapes/995-4-1024x768.jpg</string>
            <key>title</key>
            <string>NO.9</string>
        </dict>
        <dict>
            <key>describe</key>
            <string>邮币卡电子盘貌似可以像股票一样交易流通，却没有权威机构监管，而股票有证监会监管。也就是邮币卡没有托底保护，完全可能成为一堆废纸</string>
            <key>videoURL</key>
            <string>http://baobab.wdjcdn.com/1456653443902B.mp4</string>
            <key>imageURL</key>
            <string>http://www.benbenla.cn/images/20120928/benbenla-02c.jpg</string>
            <key>title</key>
            <string>NO.10</string>
        </dict>
	</array>
</dict>
</plist>
